@font-face {
  font-family: "Pure";
  src: url("./fonts/Pure-Joy.ttf") format("truetype");
  font-weight: 100;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding-bottom: 250px;
  background-color: #bface2;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --black: #1c1e21;
  --white: #ffffff;
  --tw-color1: #645cbb;
  --tw-color1-hover: #9333ea;
}

body {
  background-color: #ebc7e6;
  font-family: "Pure";
  color: var(--tw-color1);
  display: flex;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

input[type="checkbox"] {
  background-clip: content-box;
  border: 1.5px solid #bbbbbb;
  background-color: #e7e6e7;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

input[type="checkbox"]:checked {
  accent-color: red;
}
